@model IEnumerable<Student>

@{
    ViewData["Title"] = "Home Page";
}
<div class="d-flex mb-3">
    <form asp-action="QuerySyntax" method="GET" class="m-3">
        <input type="submit" value="Query Syntax" class="btn btn-primary" />
    </form>
    <form asp-action="MethodSyntax" method="GET" class="m-3">
        <input type="submit" value="Method Syntax" class="btn btn-primary" />
    </form>
    <a href="@Url.Action("GetStudentByDepartment","Home")" class="btn btn-primary m-3">Procedure Bölüme Göre Öğrenciler</a>
    <button id="AddStudentsWithTransaction" class="btn btn-primary m-3">Öğrencileri Transaction ile ekle</button>
    <a asp-action="RawSql" asp-controller="Home" class="btn btn-primary m-3">Raw Sql ile Öğrenciler</a>
    <a asp-action="BulkInsert" asp-controller="Home" class="btn btn-primary m-3">BulkInsert</a>
</div>
<p>
    <a asp-action="Create" class="btn btn-secondary">Yeni Öğrenci Ekle</a>
</p>

<h1>Öğrenciler</h1>

<table>
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Age)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Department)
            </th>
            <th>

            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Age)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Department)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Düzenle</a>
                    <a asp-action="Details" asp-route-id="@item.Id">Detaylar</a>
                    <a asp-action="Delete" asp-route-id="@item.Id">Sil</a>
                </td>
            </tr> 
        }        
    </tbody>
</table>

@section Scripts{
    <script>
        $(document).ready(function () {
            // Burada örnek olarak gönderilecek students verisi
            var students = [
                { Name: "Ali", Age: 20 , Department:null},
                { Name: "Ayşe", Age: 25, Department: "Elektronik" }
            ]

            $("#AddStudentsWithTransaction").click(function () {
                $.ajax({
                    url: '@Url.Action("AddStudentsWithTransaction", "Home")', // Gideceği Action url i
                    type: 'POST',
                    contentType: 'application/json',
                    data: JSON.stringify(students),
                    success: function (result) {
                        alert("Öğrenciler başarıyla eklendi.")
                        location.reload()
                    },
                    error: function (xhr, status, error) {
                        alert("Bir Hata oluşu: " + error)
                    }
                })
            }) 
        })

    </script>
}